<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>734901373512-vj2kklrdn6sel0h1t7dqn44isml9jml0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734901373512-vj2kklrdn6sel0h1t7dqn44isml9jml0</string>
	<key>API_KEY</key>
	<string>AIzaSyAbLFPPgn9ApRE2g96oD1Srl3RPp8CpPT4</string>
	<key>GCM_SENDER_ID</key>
	<string>734901373512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevPro.PokeSearch</string>
	<key>PROJECT_ID</key>
	<string>pokesearch-cb450</string>
	<key>STORAGE_BUCKET</key>
	<string>pokesearch-cb450.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:734901373512:ios:2b8850a494ff6523</string>
	<key>DATABASE_URL</key>
	<string>https://pokesearch-cb450.firebaseio.com</string>
</dict>
</plist>